/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

a:visited {
    color: black;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(77, 76, 76);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Navigation Styles */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

.menu-is-open {
    overflow: hidden;
}

/* Section Styles */
section {
    padding: 4vh;
    height: 96hv;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    text-align: justify;
}

/* Search Container Styles */
.search-container {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

/* Search Input Styles */
.search-input {
    border: none;
    width: 80%;
    padding: 5px;
}

/* Search Button Styles */
.search-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 5px;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}

/* Custom Styles */
.book-container {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.book-page {
    page-break-before: always;
    page-break-inside: avoid;
}

.book-header {
    color: black;
    text-align: center;
    padding: 20px 0;
}

.book-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.book-author {
    color: black;
    font-style: italic;
}

.book-content {
    color: black;
    line-height: 1.6;
    text-align: justify;
    margin: 20px 0;
}

.img-cont {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.book-content blockquote {
    color: black;
    text-align: left;
    padding: 20px;
    font-weight: 600;
}

.book-footer {
    color: black;
    text-align: right;
    margin-top: 20px;
}

.letter {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    margin-top: 20px;
    padding: 100px;
    border: 1px solid #ccc;
}

.newspaper-container {
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.custom-publisher {
    font-size: 18px;
    font-weight: bold;
    font-family: "Noticia Text", serif;
    margin-bottom: 20px;
    color: #000000;
}

.custom-headline-1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.custom-headline-2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.custom-headline-3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

p {
    margin-bottom: 15px;
}

/* Footer Styles */
footer nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    box-shadow: none;
}

footer p {
    text-align: center;
}
